@model Datiov2.Models.CartModel



@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItemCartID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItemProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItemQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartItemPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartItemCartID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartItemProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartItemQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartItemPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
