@model Datiov2.Models.OrderModel


@{
    ViewData["Title"] = "Order";
    

    

}



<h1>Order</h1>

<div>
    <h4>OrderModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCartID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderCartID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderUserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderUserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderPostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
