@model Datiov2.Models.UserModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor ContextAccessor

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var orders = ViewBag.Orders as List<OrderModel>;


}







@* <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/main.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>


    <link rel="icon" type="image/x-icon" href="~/bilder/icons8-my-computer-16.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mängder av teknikprodukter">
    <meta name="keywords" content="Dator, teknik, hårdvara, datio">
    <meta name="author" content="Datio">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <title>Datorer och teknik</title>


</head> 

<body> 

     <div class="main-container">
        <div class="mini-header">
            <div class="mini_header_content">
                <a href="favoriter.html"><span class="material-icons-outlined" id="favoriter">favorite_border</span></a>
                <span class="material-icons-outlined" id="light_mode_button" onclick="darkmode()">light_mode</span>
                <span class="material-icons-outlined" id="dark_mode_button" onclick="darkmode()">dark_mode</span>

                <h6 class="mini_header_text">Privat</h6>
                <h6 class="mini_header_text" id="mini_header_text_right">Företag</h6>
            </div>
        </div>

        <div class="content-container">
            <div class="header">

                <!--Mobilmeny-->
                <div class="mobile_menu_button" onclick="meny_funktion()">
                    <span class="material-icons-outlined" id="mobile_menu_icon">menu</span>

                    <div class="meny_alternativ">
                        <a href="kategori.html" class="mobile_category">Datorer</a>
                        <a href="kategori.html" class="mobile_category">Bildskärmar</a>
                        <a href="kategori.html" class="mobile_category">Hem/fritid</a>
                        <a href="kategori.html" class="mobile_category">Kameror</a>
                        <a href="kategori.html" class="mobile_category">Kontor</a>
                        <a href="kategori.html" class="mobile_category">Mobil</a>
                        <a href="favoriter.html" class="mobile_category">Önskelista</a>
                        <a href="logga_in.html" class="mobile_category">Mitt konto</a>
                        <a href="#" class="mobile_category">Kundservice</a>
                        <a href="#" class="mobile_category" onclick="darkmode()">Byt tema</a>
                    </div>
                </div>

                <a href="@Url.Action("Index", "Home")"> <img src="/bilder/logotyp_datio_stor_transparent.png" alt="Logotyp" id="datio_logo"> </a>


                <form class="form_search" action="/Product/Search" method="get">
                    <input type="text" name="search" placeholder="Sök bland @ViewBag.TotalProducts produkter..." class="search">
                    <button type="submit" class="sök_knapp">
                        <span class="material-icons-outlined" id="search_icon">
                            search
                        </span>
                    </button>
                </form>

                <form method="get" action="/User/Login" class="form_konto">
                    <button type="submit" class="konto">
                        <span class="material-icons-outlined" id="account_icon">person_outline</span>
                        <span id="account_text">Mitt konto</span>
                    </button>
                </form> 

                                 href="@Url.Action("Login", "User")">
                
                 <form method="get" action="kundvagn.html" class="form_kundvagn">
                    <button type="submit" class="kundvagn" id="shopping_cart_button">
                        <span class="material-icons-outlined" id="shopping_cart_icon" onmouseover="goToCartNudge()">shopping_cart</span>
                    </button>
                </form>
            </div>

            <div class="nav">
                <ul>
                    <li class="navbar" id="menu_link2">
                        <a href="kategori.html" id="menu_link" onclick="darkmode()">
                            <span class="material-icons-outlined"
                                  id="menu_icon">menu</span>
                        </a>
                        <a href="kategori.html" class="navbar-knapp" id="all_categories_text">Alla kategorier &#8964;</a>
                    </li>
                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Datorer</a>
                    </li>
                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Bildskärmar</a>
                    </li>

                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Hem/fritid</a>
                    </li>

                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Kameror</a>
                    </li>

                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Kontor</a>
                    </li>
                    <li class="navbar">
                        <a href="kategori.html" class="navbar-knapp">Mobil</a>
                    </li>
                </ul>
            </div> *@




            <div class="main-content">
                <div class="account_box">
                    <div class="account-card">
                        <div class="account-header">
                            <h1>Kontoinformation</h1>
                        </div>
                        <div class="account-info">
                            <p><strong>Användarnamn:      </strong>   @Model.UserName</p>
                            <p><strong>Förnamn:  </strong>   @Model.UserFirstName</p>
                            <p><strong>Efternamn:  </strong>   @Model.UserLastName</p>
                            <p><strong>Email:  </strong>   @Model.UserEmail</p>
                            <p><strong>Kontotyp:  </strong>   @Model.UserType</p>
                        </div>
                        @*                         <button class="facts_button">Redigera konto</button>
                        *@
                    </div>

                    
@*                     <button class="facts_button">Redigera konto</button>
                    <button class="facts_button">Logga ut</button> *@

@*                     <div class="orders_box">
                        <div class="orders-card">
                            <div class="orders-header">
                                <h1>Mina ordrar</h1>
                                @foreach (var order in orders)
                                {
                                    <div class="order">
                                    <p><strong>OrderID: </strong> @order.OrderID</p>
                                    <p><strong>Orderbelopp: </strong> @order.OrderPrice</p>
                                    <p><strong>Orderdatum: </strong> @order.OrderDate</p>

                                    <a href="@Url.Action("Order", "Order", new { OrderID = order.OrderID })">Se order</a>
                                    </div>
                                }

                            </div>
                        </div>

                    </div> *@




        <div class="orders-box">
            <div class="orders-card">
                <div class="orders-header">
                    <h2>Mina order</h2>
                    <table class="orders-table">
                        <thead>
                            <tr>
                                <th>OrderID</th>
                                <th>Orderbelopp</th>
                                <th>Orderdatum</th>
                                <th>Orderlänk</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in orders.OrderByDescending(o => o.OrderDate))
                            {
                                <tr class="order">
                                    <td>@order.OrderID</td>
                                    <td>@order.OrderPrice kr</td>
                                    <td>@order.OrderDate</td>
                                    <td><a href="@Url.Action("Order", "Order", new { OrderID = order.OrderID })" class="view-order-link">Se order</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>








                    @*             @foreach (var category in Model)
                    {
                    <h3 class="product_showcase_type_text">@category.CategoryName</h3>
                    <div class="product_field">
                    <div class="product_grid">
                    @foreach (var product in category.Products)
                    {
                    <div class="produkt_box">
                    <a href="@Url.Action("Product", "Product", new { id = product.ProductID })">
                    <img src="@product.ProductImage" alt="@product.ProductDescription">
                    <h2>@product.ProductName</h2>
                    <h3>@product.ProductPrice kr</h3>
                    <h4 class="stock_text">
                    <span class="stock_dot"></span> i lager: @product.ProductStock
                    </h4>
                    </a>
                    </div>


                    }
                    </div>
                    </div>
                    } *@


                </div>
    @if (@ContextAccessor.HttpContext.Session.GetInt32("UserType") == 2)
    {
        <div class="Panel-box">
            <ul class="Panel-card">
                <li>

                    <form asp-action="DeleteAccount" asp-controller="User" method="post">
                        <button class="secondary_button" id="delete_button" type="submit">Radera konto </button>
                    </form>
                </li>

                <li>

                    <form asp-action="UpdateAccount" asp-controller="User" method="get">
                        <button class="secondary_button" type="submit">Redigera konto </button>
                    </form>
                </li>

                <li>

                    <form asp-action="AddProduct" asp-controller="Product" method="get">
                        <button class="secondary_button" type="submit">Skapa produkt </button>
                    </form>
                </li>
                <li>

                    <form asp-action="EditAccount" asp-controller="User" method="post">
                        <button class="secondary_button" type="submit">Radera produkt </button>
                    </form>
                </li>

                <li>
                    <form asp-action="AddCategory" asp-controller="Product" method="get">
                            <button class="secondary_button" type="submit">Sakapa produktkategori</button>
                    </form>

                </li>


                <li>

                    <form asp-action="Logout" asp-controller="User" method="post">
                        <button class="secondary_button" type="submit">Logga ut</button>
                    </form>
                </li>
            </ul>
        </div>
    }

    @if (@ContextAccessor.HttpContext.Session.GetInt32("UserType") == 1)
    {
        <div class="Panel-box">
            <ul class="Panel-card">
                <li>
<form asp-action="ToggleDarkMode" asp-controller="Home" method="post">
                            <button class="secondary_button" type="submit">Byt Tema </button>
                        </form>
                </li>

<li>
    <form asp-controller="User" asp-action="Wishlist" asp-route-id="@ContextAccessor.HttpContext.Session.GetInt32("UserID") method="post">
<button class="secondary_button" type="submit">Önskelista</button>
</form>
    
</li>
<br />
                
                <li>

                    <form asp-action="DeleteAccount" asp-controller="User" method="post">
                        <input type="hidden" name="userID" value="@Model.UserID" />

                        <button class="secondary_button" id="delete_button" type="submit">Radera konto </button>
                    </form>
                </li>
                <li>

                    <form asp-action="UpdateAccount" asp-controller="User" method="get">
                        <button class="secondary_button" type="submit">Redigera konto </button>
                    </form>
                </li>
                <li>

                    <form asp-action="Logout" asp-controller="User" method="post">
                        <button class="secondary_button" type="submit">Logga ut</button>
                    </form>
                </li>
            </ul>
        </div>
    }



            </div>


@* 
            <div class="footer">
                <div class="footer_down">
                    <div class="footer_box" id="sociala_medier_box">
                        <h2>Följ oss</h2>

                        <div class="sociala_medier_box">
                            <a id="yt" class="sociala_medier" href="http://Youtube.com" target="_blank">
                                <img class="sociala_medier"
                                     src="/bilder/youtube.png" alt="">
                            </a>

                            <a class="sociala_medier" href="http://Twitter.com" target="_blank">
                                <img class="sociala_medier"
                                     src="/bilder/twitter.png" alt="">
                            </a>

                            <a class="sociala_medier" href="http://Facebook.com" target="_blank">
                                <img class="sociala_medier"
                                     src="/bilder/facebook.png" alt="">
                            </a>

                            <a class="sociala_medier" href="http://Instagram.com" target="_blank">
                                <img class="sociala_medier"
                                     src="/bilder/instagram.png" alt="">
                            </a>
                        </div>

                        <h3>Nyhetsbrev</h3>

                        <input id="nyhetsbrev" type="email">
                        <input id="button_prenumerera" type="button" value="Prenumerera">

                        <h4 id="copyright">Copyright 2023 Datio</h4>
                    </div>
                </div>

                <div class="footer_upper">
                    <div class="footer_box" id="kontakt_box">
                        <h2>Kontakt</h2>
                        <h3 class="footer_text">
                            <span class="material-icons-outlined" id="email_icon"> email </span>info@datio.nu
                        </h3>
                        <br>
                        <h3 class="footer_text">
                            <span class="material-icons-outlined" id="phone_icon"> phone </span>073 725 85 99
                        </h3>
                        <br>
                        <br>
                        <h4>Måndag - Fredag: 09-18</h4>
                        <h4>Lördag: 11 - 16</h4>
                        <h4>Söndag: Stängt</h4>
                    </div>

                    <div class="footer_box">
                        <h2>Information</h2>

                        <a class="information_länk" href="#">FAQ - Frågor och Svar</a>
                        <a class="information_länk" href="#">Felanmälan och återköp</a>
                        <a class="information_länk" href="#">Försäljningsvilkor</a>
                        <a class="information_länk" href="#">Företagsförsäljning</a>
                        <a class="information_länk" href="#">Om Datio</a>

                        <img src="bilder/mastercard.png" class="betalningsmetod_logo" alt="">
                        <img src="bilder/visa.png" class="betalningsmetod_logo" alt="">
                        <img src="bilder/klarna.png" class="betalningsmetod_logo" alt="">
                    </div>
                </div>
            </div>
            <script src="~/js/script.js"></script> 

 </body>

</html> *@